%h1.heading
  = "Editing garage %s" % @garage.id
  
- semantic_form_for(@garage) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', collection_path