/
  AddThis Button BEGIN
.addthis_toolbox.addthis_default_style
  %a.addthis_button_email
  %a.addthis_button_favorites
  %a.addthis_button_print
  %a.addthis_button_facebook
  %a.addthis_button_google
  %a.addthis_button_twitter
  %span.addthis_separator
    |
  %a.addthis_button_expanded{ :href => "http://addthis.com/bookmark.php?v=250&amp;username=igorkasyanchuk" }
    More
%script{ :type => "text/javascript", :src => "http://s7.addthis.com/js/250/addthis_widget.js#username=igorkasyanchuk" }
/
  AddThis Button END
