- content_for :left_content do
  .tabs
    .tab.selected{:href => '#quick_search'}
      %span= t('quick_search_tab')
  .boxes
    #quick_search.box.selected
      %div
        %h2= t('box_uk_map')
      .small_box
        aaaa
  .clear

- content_for :on_ready do
  log('onready started');
