%div.for_example.map_type
  %label 
    = radio_button_tag 'map_type', 0
    карта доріг
  %label 
    = radio_button_tag 'map_type', 1
    супутникова
  %label 
    = radio_button_tag 'map_type', 2
    ландшафтна