@import formtastic.sass

!color1= #471045
!color2= #BD2056
!color3= #FF7000
!color4= #FFD300
!color5= #648C02

!color1= #2BACF5
!color2= #CED9BC
!color3= #587D87
!color4= #A6D43C
!color5= #476930

!color1= #50781C
!color2= #9CAD1C
!color3= #EAF7E6
!color4= #40A5DE
!color5= #0B5191

!color1= #fff
!color2= #83D8F8
!color3= #00AFF0
!color4= #4B465A
!color5= #87C80A
!color6= #F4F3FB

!left_column= 250px
!logo_text_color= !color4
!logo_slogan_text_color= !color3
!search_box_color= !color1
!tabs_color= !color2
!base_font= "Tahoma,Verdana,Arial,sans-serif"
!margin_left= 10px
!input_border_color= #D7D4CE
!h1_color= !color3
!h2_color= !color2
!h3_color= !color2
!a_color= !color3
!footer_bg_color= !color2
!menu_bg_color= !color5
!footer_link_color= !color4

=round(!p)
  :-moz-border-radius= !p
  :-webkit-border-radius= !p
  
=round_top(!p)  
  :-moz-border-radius-topleft= !p
  :-moz-border-radius-topright= !p
  
=round_bottom(!p)  
  :-moz-border-radius-bottomleft= !p
  :-moz-border-radius-bottomright= !p
  
html body
  :font-family= !base_font
  :font-size 14px
  :color= !color4
  
.logo
  :min-width= !left_column  
  :width auto
  :font-family Georgia
  :position relative
  :float left
  :padding= 5px 0 0 !margin_left
  .logo_title
    :color= !logo_text_color
    :font-size 36px
    :line-height 42px
    :margin-bottom 0
    a
      :color= !logo_text_color
      :text-decoration none
      &:visited
        :color= !logo_text_color
      &:hover
        :color= !logo_text_color
    span.r
      :color= !logo_text_color
  .logo_slogan
    :position absolute
    :right 0
    :top 40px
    :color= !logo_slogan_text_color
    :font-size 16px
    :line-height 18px
    :padding-right 0px
    :text-align right
    strong
      :font-weight normal
    a
      :color= !logo_slogan_text_color
      :text-decoration none
      &:visited
        :color= !logo_slogan_text_color
      &:hover
        :color= !logo_slogan_text_color
 
div.content
  :display block
  :padding-left= !margin_left
  :padding-right= !margin_left
  
div.left_content
  :float left
  :margin-left -100%
  :width= !left_column
  :padding-left 10px

div.right_content
  :margin-left= !left_column + 20px + 10px

.clear
  :clear both
  
.contentwrapper
  :float left
  :width 100%

div.line_after
  :margin 0 auto
  :background-color= white
  :width 100%
  :height 1px
  :border-bottom= "1px solid #{!menu_bg_color + #111}"
  
div.line_before
  :margin 0 auto
  :background-color= white
  :width 100%
  :height 1px
  :border-top= "1px solid #{!footer_bg_color + #111}"
  
.header_container
  :width 100%
  :height 120px
  div.line
    :background-color= !menu_bg_color
    :width 100%
    :height 10px
    :margin 0 auto
  div.line_top
    :background-color= !menu_bg_color
    :width 100%
    :height 10px
  .header
    :position relative
  ul.menu
    :padding 0
    :margin 0
    :position absolute
    :left 320px
    :bottom 0
    li 
      :margin 0
      :margin-right 1px 
      :float left
      :padding 4px 8px
      :padding-bottom 6px
      a
        :text-decoration none
        :border-bottom= "1px dashed #{!menu_bg_color}"
        :color= !color4
      &:hover
        +round_top(10px)
        :background-color= !menu_bg_color
        a
          :color white
          :border-bottom= "1px dashed white"
    li.selected
      +round_top(10px)
      :background-color= !menu_bg_color
      a
        :border-bottom none
        :color white
        :text-shadow none
        :font-weight bold
  ul.submenu
    +round_bottom(10px)
    :padding 0
    :margin 0
    :position absolute
    :right 20px
    :top 0
    li 
      :margin 0
      :float left
      :padding 4px 8px
      :padding-bottom 2px
      :color white
      :font-size 12px
      a
        
        &:hover
          :text-decoration none
  
.header
  :height 80px

#root button, #root input[type='submit']
  :padding 2px 6px
  :font-size 14px
  :font-family= !base_font
  :line-height 21px
    
#root input, #root textarea
  :padding 1px 0 0 6px
  :padding-top 4px
  :font-size 14px
  :font-family= !base_font
  :line-height 21px
  
.input_border_color
  :border-color= "#{!input_border_color}"
  
.input-w
  :padding 1px 6px
  :padding-top 4px
  :width 400px
  :height 25px
  :border= "1px solid #{!input_border_color}"
  :background transparent url(/images/input-bg.gif) 0px 0px repeat-x
  :font-size 14px
  :line-height 21px

#root .input-s
  :padding 1px 6px
  :padding-top 4px
  :width 250px
  :height 21px
  :border= "1px solid #{!input_border_color}"
  :background transparent url(/images/input-bg.gif) 0px 0px repeat-x
  :font-size 14px
  :line-height 21px
  
h1
  :color= !h1_color
h2
  :color= !h2_color
h3
  :color= !h3_color
a
  :color= !a_color
  &:hover
    :color= !a_color + #333
  &:visited
    :color= !a_color - #333
  
.address_finder
  :float left
  :margin-left 17px
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :background-color= !search_box_color
  :overflow auto
  :margin-bottom 10px
  :padding 10px
  :margin-top 23px
  
#directions
  :padding-right 25px !important
  table tr td, table tr th
    :font-size 12px
    :line-height 15px
    :vertical-align middle
        
#right_content_spacer
  :height 30px
  h1, h2, h3, h4
    :font-size 14px
    :margin-right 190px
    :margin-bottom 0
    :text-decoration none
  h3, h4
    :margin-right 190
  
.favorites
  :padding-right 15px
  :float left
  :vertical-align top
  :height 20px
  a
    :margin-top 5px
    :text-shadow 1px 1px 1px #ddd
    :padding 0
  span
    :vertical-align top
    :font-size 10px
    :color red
    :display inline-block
    :margin-top -4px
    :margin-left -2px
    
.tabs
  :width 100%
  :float left
  :height 29px
  .tab
    :float left
    :width auto
    :padding 2px 6px
    :text-decoration none
    :cursor pointer
    :-moz-border-radius-topleft 8px
    :-moz-border-radius-topright 8px
    :-webkit-border-radius-topleft 8px
    :-webkit-border-radius-topright 8px
    :text-shadow 1px 1px #FFFFFF
    span
      :border-bottom= "1px dashed #{!color5}"
      :font-size 14px
      :color= !color5
  .selected
    :background= !tabs_color
    span
      :border-bottom none
    
.boxes
  :float left
  :width 100%
  :border-left= "4px solid #{!tabs_color}"
  :border-right= "4px solid #{!tabs_color}"
  :border= "4px solid #{!tabs_color}"
  //:background= !search_box_color + #333
  :background white
  :overflow-x hidden
  :overflow-y auto
  .box
    :width 100%
    :display none
    :padding 5px 15px
  .selected
    :display block
    
#quick_search 
  :margin 0 auto
  :width= !left_column - 20px
  :padding 5px 15px
  h2
    :text-decoration none
    :border-bottom= "1px dashed #{!color4}"
    :display inline-block
    :cursor pointer
    :color= !color4
    :padding-bottom 0
    :margin-bottom 8px
    :font-size 18px
  ul
    :margin-bottom 0
  ul li
    :float left
    :width 160px
    a
      :font-size 12px
  ul
    :float left
    
.greyed
  :color #aaa    
  
.right_block
  :text-align right

.left_block
  :text-align left
  
.directions_form
  :width 320px
  :padding-right 20px
  fieldset
    :padding 0
  legend
    :color= !color5
    :margin-left 6px 
  input.greyed
    :font-weight normal
  input
    :font-weight bold
    :width 275px
    :margin 3px 5px
    :font-size 16px
    :line-height 24px
  input[type='submit']
    :font-weight normal
    :width auto
    :font-size 12px
    :padding 2px 5px
    :margin 0
    :margin-right 25px
    :line-height 25px
  .map_type
    :padding-left 8px
  label
    :height 16px
    :font-size 12px
    :vertical-align middle
    input[type='radio']
      :display inline
      :line-height 16px
      :width auto
      :height 16px
      :padding 0
      :margin 0
      :vertical-align middle

#search_results
  //:font-size 85%
  ol
    :padding-top 0
    :margin-left 0
  ol li
    :cursor pointer
    :padding 2px 6px
    :margin-right 31px
    :-moz-border-radius 8px
    :-webkit-border-radius 8px
  h1
    :margin 0
    :margin-left 0px
    :padding 4px
    :font-style italic
    :font-size 20px
    :line-height 20px
    :width 90%
    address
      :display inline
      :font-style italic
      :line-height 20px
      :font-size 20px
      :padding 4px
  h3.m_info
    :display block
    :font-size 14px
    :text-decoration none
    :padding-left 8px
  h3
    :display inline
  .place_description
    :padding-left 18px
    :line-height 18px
  .place_name
    :cursor pointer   
  
.for_example_block
  :color= !color4
  span.for_example
    :font-weight bold
    :color= !color4
    :text-decoration none
    :border none
    :cursor default 
    :padding 1px 0px
    :margin 0
  span
    :cursor pointer
    :padding 1px 1px
    :margin 0 2px
    :font-size 11px
    :color= !color3
    :text-decoration none
    :border-bottom= "1px dashed #{!color3}"
    :text-shadow 1px 1px #fff

#directions_form
  .for_example_block
    :padding-left 6px
    :line-height 15px
    :padding-bottom 8px
    
.margin_padding_none
  :margin 0
  :padding 0    
  
#search_form
  input
    :display inline
    :font-weight bold
  input.greyed
    :font-weight normal
  input[type='submit']
    :display inline
    :font-weight normal
    :line-height 25px

.total_distance    
  :padding-top 12px
  :padding-left 8px
  strong
    span
      :border-bottom= "1px dotted #{!color5}"
    
.total_distance_value    
  :color= !color4
  
.help_notice
  :padding-left 8px
  i, strong
    :line-height 14px
    :font-size 12px
    
div.show_all    
  :padding-right 25px
  :text-align right

ul.items_list
  :padding-left 0  
ul.items_list li
  :line-height 16px  
  
.question_mark
  :cursor help  
  :vertical-align middle

html .help_mark_info
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :z-index 9999
  :width 220px
  :text-align center
  :font-style italic
  :height 28px
  :line-height 14px
  :text-decoration none
  :border= "1px solid #{!color5}"
  :background white
  :position absolute
  :right 0
  :bottom 0
  :color= !color5
  :padding 2px 3px  
  :font-size 12px 
  :vertical-align middle
    
.addthis
  :position absolute
  :right 5px
  :top 125px
  :vertical-align middle
  a, img
    :line-height 12px
    :font-size 12px
    :padding 0
    :margin 0
    :vertical-align middle
  
span.history
  :width 155px
  :display inline-block
  
  
=attach_footer( !footer_height )
  :height 100%
  body
    :margin 0
    :padding 0
    :width 100%
    :height 100%
    :text-align center
  #root
    :text-align left
    :min-height 100%
    :margin-bottom  = -!footer_height
    #root_footer
      :clear both
      :height = !footer_height
  #footer
    :text-align left
    :clear            both
    :position         relative
    :height         = !footer_height
      
html
  +attach_footer(90px)
  
#footer
  :background-color= !footer_bg_color
  #footer_content    
    :color white
    :margin 0 auto
    :padding 4px 6px
    :width 980px
    .footer_block
      :padding-left 10%
      :float left
      a
        :font-size 11px
        :line-height 16px
        :padding 2px 0
        :display block
        :color= !footer_link_color
        :text-decoration underline
        &:hover
          :text-decoration none
          
.center_block
  :width 700px
  :margin 0 auto
  
form.formtastic .errorExplanation, .errorExplanation
  :margin-bottom 12px
  h2
    :display none
  ul
    :display none
    :padding-left 16px
  ul, ul li 
    :list-style-type disc
    
.flash
  +round(10px)
  :padding 4px 6px
  :margin-bottom 12px
  :display inline-block
    
.failure.flash, .error.flash
  :color #8a1f11
  :background #FFF6BF
  :border-color #FFD324
    
.flash.notice, .flash.info
  :color #514721
  :background #FFF6BF
  :border-color #FFD324  

#root .no_margin_and_padding
  :margin 0
  :padding 0

.admin_left
  :float left
  :margin-left -100%
  :width= !left_column

.admin_right
  :margin-left= !left_column + 20px + 10px
  
ul.admin_menu
  +round(15px)
  :padding 10px 10px
  :background-color= !color1
  :min-height 300px
  li
    a
      :font-size 16px
      :line-height 24px
      :padding 6px 8px
      :color= !color4
      :font-weight bold
    ul
      :padding-left 24px
      li
        a
          :font-size 12px
          :line-height 16px
          :padding 1px 2px
          :color= !color4
          :font-weight bold      
          
.small_link
  :font-size 12px