- form.inputs do
  = form.input :name_uk, :input_html => { :class => 'input-s' }
  = form.input :name_ru, :input_html => { :class => 'input-s' }
  = form.input :region, :label_method => :name_uk
  = form.input :top_city, :as => :radio, :collection => YES_NO_ARRAY.collect{|g| [ t(g[0]), g[1] ] }
