- title(t('map_routes_from', :str => @m.name))
- description(t('map_routes_from', :str => @m.name))
- keywords(t('map_routes_from', :str => @m.name))

- render :partial => '/shared/left_content'
- google_map

%h1= t('map_routes_from', :str => @m.name)
%ul.items_list
  - @routes.each do |o|
    %li
      = link_to o.route_name, map_route_path(o)