= form.error_messages
- form.inputs do
  = form.input :email, :input_html => { :class => 'input-s' }
  = form.input :password, :input_html => { :class => 'input-s' }
  = form.input :password_confirmation, :input_html => { :class => 'input-s' }