- title "Admin - New User"

%h1.heading
  = 'New User'
  
- simple_form_for([:admin, @user], :html => { :class => 'signForm wideForm', :id => 'sing_up_form', :multipart => true }) do |form|
  = render 'form', :form => form
  %p.row-submit
    = form.submit 'Add'
    = link_to 'Cancel', collection_path