%h1.heading
  = 'New Region'
  
- semantic_form_for(@region) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', collection_path