- inside_layout 'application' do
  %h1= t('dashboard')
  .contentwrapper
    .admin_right
      Текст тут
      = yield
  .admin_left
    %ul.admin_menu
      - if current_user.admin?
        %li= link_to t('admin_link'), admin_users_path
      %li= link_to t('my_profile_link'), admin_users_path
  .clear
