- inside_layout 'application' do
  %h1 Мій кабінет
  .contentwrapper
    .admin_right
      AA
      = yield
  .admin_left
    %ul.admin_menu
      %li= link_to 'Користувачі', admin_users_path
  .clear
