= error_messages_for :site
- form.inputs "Курс валют" do
  = form.input :dollar, :input_html => { :class => 'input-s' }, :hint => 'вказуйте суму в копійках'
  = form.input :euro, :input_html => { :class => 'input-s' }, :hint => 'вказуйте суму в копійках'